In [2]:
print("이름\t나이\t지역")
print("윤인성\t25\t강서구")
print("윤아린\t24\t강서구")
print("구름\t3\t강서구")

이름	나이	지역
윤인성	25	강서구
윤아린	24	강서구
구름	3	강서구

In [6]:
print("""동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라 만세
무궁화 삼천리 화려강산 대한사람
대한으로 길이 보전하세""")

동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라 만세
무궁화 삼천리 화려강산 대한사람
대한으로 길이 보전하세

In [22]:
print("안녕" + "하세요")
print("안녕하세요" + "!")
print("안녕하세요" * 3)

안녕하세요
안녕하세요!
안녕하세요안녕하세요안녕하세요

In [30]:
print("안녕" + "하세요" * 3)

안녕하세요하세요하세요

In [38]:
print(5//2)
print(5 % 2 )

2
1

In [60]:
pi = 2
print(pi + 2)

4

In [62]:
string = input("입력>")

print("자료:", string)
print("자료형:",type(string))

입력> 1

자료: 1
자료형: <class 'str'>

In [66]:
string = input("입력>")

print("입력 + 100:", string + "100")

입력> 100

입력 + 100: 100100

In [68]:
string_a =input("입력A> ")
int_a = int(string_a)

string_b =input("입력B> ")
int_b = int(string_b)

print("문자열 자료:", string_a + string_b)
print("숫자 자료:", int_a + int_b)

입력A>  273
입력B>  52

문자열 자료: 27352
숫자 자료: 325

In [70]:
output_a = int("52")
output_b = float("52.273")

print(type(output_a), output_a)
print(type(output_b), output_b)

<class 'int'> 52
<class 'float'> 52.273

In [78]:
raw_input = input("inch단위의 숫자를 입력해주세요:")

inch = int(raw_input)
cm = inch * 2.54

print(inch, "inch는 cm 단위로", cm, "cm입니다.")

inch단위의 숫자를 입력해주세요: 20

20 inch는 cm 단위로 50.8 cm입니다.

In [101]:
a = "{}{}".format(1,2)
print(a)
b = "{}{}".format(1,4,3)
print(b)
#b = "{}{}".format()
#print(b)

12
14

In [119]:
out_a = "{:d}".format(52)

out_b = "{:5d}".format(52)
out_c = "{:10d}".format(52)

out_d = "{:05d}".format(52)
out_e = "{:05d}".format(-52)

print("#기본")
print(out_a)
print("# 특정 칸에 출력하기")
print(out_b)
print(out_c)
print("# 빈칸을 0으로 채우기")
print(out_d)
print(out_e)

#기본
52
# 특정 칸에 출력하기
   52
        52
# 빈칸을 0으로 채우기
00052
-0052

In [105]:
out_f = "{:+d}".format(52)
out_g = "{:+d}".format(-52)
out_h = "{: d}".format(52)
out_i = "{: d}".format(-52)

print(out_f)
print(out_g)
print(out_h)
print(out_)

+52
-52
 52
-52

In [111]:
out_h = "{:+5d}".format(52)
out_i = "{:+5d}".format(-52)
out_j = "{:=+5d}".format(52)
out_k = "{:=+5d}".format(-52)
out_l = "{:+05d}".format(52)
out_m = "{:+05d}".format(-52)

print(out_h)
print(out_i)
print(out_j)
print(out_k)
print(out_l)
print(out_m)

  +52
  -52
+  52
-  52
+0052
-0052

In [11]:
out_a = "{:f}".format(52.273)
out_b = "{:15f}".format(52.273)
out_c = "{:+15f}".format(52.273)
out_d = "{:+015f}".format(52.273)

print(out_a)
print(out_b)
print(out_c)
print(out_d)

52.273000
      52.273000
     +52.273000
+0000052.273000

In [41]:
pi =3.141592
a = float(input("구의 반지름을 입력해주세요:"))
b = (4/3) * pi * (a**3)
c = 4 * pi * (a**2)
print(b)
print(c)

구의 반지름을 입력해주세요: 5

523.5986666666666
314.1592

In [43]:
a = float(input("밑변의 길이를 입력해주세요:"))
b = float(input("높이의 길이를 입력해주세요:"))

c = (a**2 + b**2) ** (2/1)

print(c)

밑변의 길이를 입력해주세요: 3
높이의 길이를 입력해주세요: 4

625.0

In [18]:
number = input("정수입력>")

last_character = number[-1]

last_number =int(last_character)

if last_number == 0 \
    or last_number ==2\
    or last_number ==4\
    or last_number ==6\
    or last_number ==8:
    print("짝수입니다")

if last_number ==1\
    or last_number ==3\
    or last_number ==5\
    or last_number ==7\
    or last_number ==9:
    print("홀수입니다")

정수입력> 52

짝수입니다

In [22]:
number = input("정수입력>")
last_character = number[-1]

if last_character in "02468":
    print("짝수입니다")

if last_character in "13579":
    print("홀수입니다")

정수입력> 4

짝수입니다

In [26]:
number = input("정수입력>")
number =int(number)

if number % 2== 0:
    print("짝수입니다")

if number % 2== 1:
    print("홀수입니다")

정수입력> 4

짝수입니다

In [28]:
number = input("정수입력>")
number = int(number)

if number % 2 == 0:
    print("짝수입니다")
else:
    print("홀수입니다")

정수입력> 4

짝수입니다

In [ ]:
import datetime

now = datetime.datetime.now()
month = now.month

if 3 <= month <= 5:
    print("현재는 봄입니다")
elif 6 <= month <= 8:
    print("현재는 여름입니다")
elif 9 <= month <= 11:
    print("현재는 여름입니다")
elif 6 <= month <= 8:
    print("현재는 여름입니다")