In [3]:
def print_xn(line):
    chuck_num = int(len(line) / 5)
    addnum = 1 if len(line) % 5 != 0 else 0
    for x in range(chuck_num + addnum):
        print(line[x * 5: x * 5 +5])

print_xn("아이엠어보이유알어걸오")

아이엠어보
이유알어걸
오

In [4]:
def print_xn1(line,limit):
     chuck_num = int(len(line) / limit)
     addnum = 1 if len(line) % limit != 0 else 0
     for x in range(chuck_num + addnum):
          print(line[x * limit: x * limit +limit])

print_xn1("아이엠어보이유알어걸오",3)

아이엠
어보이
유알어
걸오

In [5]:
def print_xn1(line,limit):
     chuck_num = int(len(line) / limit)
     addnum = 1 if len(line) % limit != 0 else 0
     result = []
     for x in range(chuck_num + addnum):
          result.append(line[x * limit: x * limit +limit])
     return result

lastval =  print_xn1("아이엠어보이유알어걸오",3)
print(lastval)

['아이엠', '어보이', '유알어', '걸오']

In [6]:
def calc_monthly_sclary(annual_pay):
    monthly_pay = int(annual_pay / 12)
    return monthly_pay

print(calc_monthly_sclary(50000000))

4166666

In [7]:
def make_url(domain):
    return "http://" + "www." + domain + ".com"

print(make_url("naver"))


# http://www.naver.com

http://www.naver.com

In [8]:
def make_url(domain):
    return "http://www.{}.com".format(domain)
print(make_url("naver"))

http://www.naver.com

In [9]:
def make_url(domain):
    return f"http://www.{domain}.com"
print(make_url("naver"))

http://www.naver.com

In [10]:
def score(scores,total):
    a = (scores / total) * 100
    return a
    
scores = 4.1
total = 4.5
a = score(scores,total)
print(f"{scores}점은 백분율로 {a:.2f}점입니다")

4.1점은 백분율로 91.11점입니다

In [11]:
def generate_html_table(rows, cols):
    table = '<table border="1">\n'

    for r in range(rows):
        table += ' <tr>\n'
        for c in range(cols):
            table += f'     <td>{r + 1},{c + 1}</td>\n'
        table += '</tr>\n'

    table += '</table>'
    return table

print(generate_html_table(3,3))

<table border="1">
 <tr>
     <td>1,1</td>
     <td>1,2</td>
     <td>1,3</td>
</tr>
 <tr>
     <td>2,1</td>
     <td>2,2</td>
     <td>2,3</td>
</tr>
 <tr>
     <td>3,1</td>
     <td>3,2</td>
     <td>3,3</td>
</tr>
</table>

In [12]:
def val(x, y):
    sv = x + y
    dv = x - y
    return sv, dv
    
print(val(10,5))
sum_val, diff_val = val(10,5)
print(sum_val)
print(diff_val)

(15, 5)
15
5

In [13]:
x = 10
y = 5

def update_x():
    global x 
    x = 20
    y = 20
    print("함수 안에서 호출한 x와 y값:",x , y)

update_x()
print("함수 밖에서 호출한 x와 y값:",x , y)

함수 안에서 호출한 x와 y값: 20 20
함수 밖에서 호출한 x와 y값: 20 5

### 집합

<li>중복을 허용하지 않는다
<li> 순서가 없다(Unordered).

In [16]:
s1 = [1,2,2,3,3,5]
type(s1)

list

In [17]:
s2 = set(s1)

In [18]:
print(s2)
type(s2)

{1, 2, 3, 5}

set

In [19]:
s3 = set("Hello")
print(s3)

{'e', 'l', 'H', 'o'}

In [20]:
t1 = tuple(s2)
t1

(1, 2, 3, 5)

In [21]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

In [22]:
# 교집합
s1 & s2

{4, 5, 6}

In [23]:
s1.intersection(s2)

{4, 5, 6}

In [24]:
# 합집합
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [25]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [26]:
# 차집합
s1 - s2

{1, 2, 3}

In [27]:
s1.difference(s2)

{1, 2, 3}

In [28]:
s2.difference(s1)

{7, 8, 9}

In [29]:
# 집합 값 추가(1개)
s1 = set([1, 2, 3])
s1.add(4)
s1

{1, 2, 3, 4}

In [30]:
# 집합 값 추가 (여러개)
s1 = set([1, 2, 3])
s1.update([4, 5, 6])

In [31]:
s1

{1, 2, 3, 4, 5, 6}

In [32]:
# 특정 값 제거
s1 = set([1, 2, 3])
s1.remove(2)
s1

{1, 3}

## 람다함수

In [34]:
lambda x : x * 2
lambda x , y: x + y

In [35]:
def add(a,b):
    return a + b
r = add(7,8)
r

15

In [36]:
add2 = lambda a,b :a+b
k = add2(4,5)
k

9

In [37]:
def getStLength1(s): return len(s)
    
getStLength2 = lambda s:len(s)

print(getStLength1("This is my cpmputer!"))
print(getStLength2("This is my cpmputer!!!"))

20
22

In [38]:
is_even = lambda x:x%2==0
print(is_even(8))

True

In [39]:
a = [1, 2, 3, 4]
def add1(x):
    return x+1
r = []
for i in a:
    r.append(add1(i))
print(r)

[2, 3, 4, 5]

In [40]:
a = [1, 2, 3, 4]
def add1(x):
    return x+1
r = map(add1,a)
print(list(r))

[2, 3, 4, 5]

In [41]:
a = [1, 2, 3, 4]
r = map(lambda x :x+1,a)
print(list(r))

[2, 3, 4, 5]

In [42]:
a = [1, 2, 3, 4]
r = list(map(str,a))
r

['1', '2', '3', '4']

In [43]:
a = [1, 2, 3, 4, 5]
squared = list(map(lambda x: x**2, a))
print(squared)

[1, 4, 9, 16, 25]

In [44]:
max_value = lambda x, y : x if x > y else y
print(max_value(10,20))

20

In [45]:
numbers = [1, 3 ,5 ,7, 9]
first_value = lambda lst: lst[0] if lst else None
max_value = lambda lst: max(lst) if lst else None
print(first_value(numbers))
print(max_value(numbers))

1
9

In [46]:
a = [1,2,3,4,5,6,7,8,9,10]
r = []
def is_even(x):
    return True if x%2==0 else False

for i in a:
    if is_even(i):
        r.append(i)
print(r)

[2, 4, 6, 8, 10]

In [47]:
a = [1,2,3,4,5,6,7,8,9,10]
def is_even(x):
    return x%2==0
r = filter(is_even,a)
print(list(r))

[2, 4, 6, 8, 10]

In [48]:
a = [1,2,3,4,5,6,7,8,9,10]
r = list(filter(lambda x:x%2==0,a))
print(r)

[2, 4, 6, 8, 10]

In [49]:
words = ["hello", "world", "python"]
r = list(map(lambda word: len(word), words ))
print(r)

[5, 5, 6]

In [50]:
list1 = [1,2,3]
list2 = [4,5,6]
r = list(map(lambda x,y : x + y, list1,list2))
print(r)

[5, 7, 9]

In [51]:
words = ["banana", "apple", "cherry"]
sorted_words = sorted(words, key=lambda x: len(x))
print(sorted_words)

['apple', 'banana', 'cherry']

In [52]:
tuples = [(1,'one'), (3,'three'), (2,'two')]
sorted_tuples = sorted(tuples, key=lambda x: x[0])
print(sorted_tuples)

[(1, 'one'), (2, 'two'), (3, 'three')]

In [53]:
my_dict = {3: 'three', 1: 'one', 2: 'two'}
sorted_dict_by_key = dict(sorted(my_dict.items(), key=lambda x: x[0]))
print(sorted_dict_by_key)

{1: 'one', 2: 'two', 3: 'three'}

In [54]:
my_dict = {3: 'three', 1: 'one', 2: 'two'}
sorted_dict_by_value = dict(sorted(my_dict.items(), key=lambda x: x[1]))  
print(sorted_dict_by_value)

{1: 'one', 3: 'three', 2: 'two'}

In [55]:
# .upper()
words = ["hello", "world", "python"]
uppercase = list(map(lambda word: word.upper(), words))
print(uppercase)

['HELLO', 'WORLD', 'PYTHON']

In [56]:
# 번외
fruit = ['사과','자두','딸기','망고']
price = [1000,3000,2500,6000]
a = list(zip(fruit,price))
b= dict(zip(fruit,price))
print(a, b, sep="\n")

[('사과', 1000), ('자두', 3000), ('딸기', 2500), ('망고', 6000)]
{'사과': 1000, '자두': 3000, '딸기': 2500, '망고': 6000}

### 재귀함수

In [58]:
# 팩토리얼 P!


def f(n):
    if n > 0:
        if n == 1:
            return 1
        return n*f(n-1)
    else:
        print("0보다 큰 수를 입력하세요")
i = int(input("숫자를 입력하세요."))
print(f(i))

숫자를 입력하세요. 12

479001600

In [59]:
# 일반적인 함수를 사용한 팩토리얼 (재귀함수 사용하는 것보다 이것이 더 좋음)

def factorial_iterative(n):
    result=1
    for i in range(1, n+1): # for in range(값, 인덱스)
        result*=i
    return result
print(factorial_iterative(1))

1

In [60]:
# 등차수열의 합공식1 공차=1

def f1(n):
    if n > 0:
        if n == 1:
            return 1
        return n+f1(n-1)
    else:
        print("0보다 큰 수를 입력하세요")
k = int(input("숫자를 입력하세요."))
print(f1(k))

숫자를 입력하세요. 12

78

In [61]:
# 등차수열의 합공식2 공차=1

def list_sum(arr):
    if len(arr) == 0:
        return 0
    return arr[0] + list_sum(arr[1:])

print(list_sum([1,2,3,4,5,6,7,8]))

36

In [62]:
# fibonacci(피보나치)수열 1, 1, 2, 3, 5, 8, 13, 21, 34 ...

def fibonacci(n):
    if n <= 1:
        return n
    return fibonacci(n-1) + fibonacci(n-2)

print(fibonacci(9))

34

In [63]:
# *args 와 **kwargs는 파이썬에서 함수에 가변 인수를 전달할 때 사용
# *args는 튜플 형태
# **kwargs는 딕셔너리 형태

def sum_numbers(*qwer):
    print(type(qwer))
    print(qwer)
    return sum(qwer)

print(sum_numbers(1,2,3,4,5,6,7))

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7)
28

In [64]:
def concatenate_strings(*args):
    print(args)
    return ''.join(args)
print(concatenate_strings('Hello, ', 'world!', ' How are you?'))

('Hello, ', 'world!', ' How are you?')
Hello, world! How are you?

In [65]:
# 가변인수를 활용한 최대값 최소값 구하기

def max_num(*args):
    print(args)
#    return max(args)
    return min(args)
print(max_num(10,20,5,30))

(10, 20, 5, 30)
5

In [66]:
def print_list(*args):
    for arg in args:
        print(arg)
print_list(1,2,3,'apple','banana')

1
2
3
apple
banana

In [67]:
# 가변인수를 활용한 평균값 구하기

def avg_num(*args):
    return sum(args)/len(args) if args else 0

print(avg_num(1,2,3,4,5,6,7,8,9,10))

5.5

In [68]:
# 가변 인수를 이용한 중복 제거

def remove_duplicates(*args):
    return list(set(args))

print(remove_duplicates(1,2,2,3,3,4,5,5))
print(remove_duplicates('apple','banana','apple'))

[1, 2, 3, 4, 5]
['apple', 'banana']

In [69]:
# 일반 변수와 가변 인수가 함께 있을 때 일반적으로 일반 변수가 먼저 실행되고 가변 인수가 실행됨/ 가변인수는 됨

def print_user_info(name, age, *args):
    print(f"Name: {name}")
    print(f"Age: {age}")

    if args:
        print("Additional Information:")
        for info in args:
            print(f"- {info}")
print_user_info("Alice", 30, "NewYork", "555-1234", "Likes Python")
print_user_info("Bob", 25)
print_user_info("Newyork", "555-1234") 
# 함수에서 print_user_info(변수, 변수 ,가변인수)이므로
#값이 ("Newyork", "555-1234") 이렇게만 들어가면 저 두개가 변수 처리됨

Name: Alice
Age: 30
Additional Information:
- NewYork
- 555-1234
- Likes Python
Name: Bob
Age: 25
Name: Newyork
Age: 555-1234

In [70]:
# **kwargs 딕셔너리로 변환

def print_user_info(**kwargs):
    print(type(kwargs))
    print(kwargs)
    for k, v in kwargs.items():
        print(f"{k}:{v}")

print_user_info(name='Alice',age=30, city="New York")

<class 'dict'>
{'name': 'Alice', 'age': 30, 'city': 'New York'}
name:Alice
age:30
city:New York

In [71]:
def greet(**kwargs):
    name = kwargs.get('name','Guest')
    #name = kwargs['name']
    print(f"Hello, {name}!")
    
greet(name='Bob')
greet()

Hello, Bob!
Hello, Guest!

In [72]:
def save_settings(**kwargs):
    settings = {}
    for key, value in kwargs.items():
        settings[key] = value
    return settings

settings = save_settings(vloume=75, brightness=80, theme= 'dark')
print(settings)

{'vloume': 75, 'brightness': 80, 'theme': 'dark'}

In [73]:
# 에러 메세지 표현

def customer_error(message, **kwargs):
    error_details = f"Error: {message}"
    for key, value in kwargs.items():
        error_details += f"\n{key}: {value}"
    return error_details

error_message = customer_error("File not found", filename="example.txt",line=42)
print(error_message)

Error: File not found
filename: example.txt
line: 42

In [74]:
# *args를 활용한 덧셈, 곱셈 선택해서 값 계산

def add_mul(choice, *args):
    if choice == 'add':
        result = 0
        for i in args:
            result = result + i
    elif choice == "mul":
        result = 1
        for i in args:
            result = result*i
    return result

result = add_mul('mul',1,2,3,4,5)
print(result)

120

In [75]:
# **kwargs를 활용한 덧셈, 곱셈 선택해서 값 계산

def calculate(operation, **kwargs):
    if operation == 'add':
        return sum(kwargs.values())
    elif operation == "mul":
        result = 1
        for i in kwargs.values():
            result = result*i
        return result
    return None

result = calculate('mul',a=1,b=2,c=3)
print(result)

6

In [76]:
# 고객 주문 목록 출력

def take_order(customer_name, *menu_items):
    print(f"Order for {customer_name}:")
    for item in menu_items:
        print(f"- {item}")
    order = {
        "customer" : customer_name,
        "items" : list(menu_items)
    }
    return order

take_order("Alice","Bugger","Fries","Soda")

Order for Alice:
- Bugger
- Fries
- Soda

{'customer': 'Alice', 'items': ['Bugger', 'Fries', 'Soda']}

In [77]:
# 평균시간 출력

def average_workout_duration(*durations):
    if not durations:
        return 0
    return sum(durations) / len(durations)

    
print(average_workout_duration(35,40,50))

41.666666666666664