In [60]:
N = int(input())
a = []

for i in range(N):
    num = int(input())
    a.append(num)

V = int(input())

c = 0

for i in range(N):
    if  V == i:
        c = c +1
print(c)

 5
 1
 2
 3
 4
 5
 1

1

In [54]:
N = int(input())
numbers = list(map(int, input().split()))
v = int(input())
answer = 0

for i in range(N):
    if numbers[i] == v:
        answer += 1

print(answer)

 1
 1
 1

1

In [106]:
#N,X =map(int,input().split())
a = list(map(int, input().split(',')))
a
# for i in range(N):
#     if X > a[i]:
#         print(a[i],end=' ')

 1, 2, 3

[1, 2, 3]

In [118]:
N = int(input())
a = list(map(int, input().split()))
b = min(a)
d = max(a)
print(b,d)

 5
 20 10 35 30 7

7 35

In [225]:
b= []
while True:
    try:
        a = int(input())
        b.append(a)
    except:
        break
print(max(b))
c = b.index(max(b)) + 1
print(c)

 1
 2
 3
 4
 5
 6

6
6

In [231]:
N, M = map(int, input().split())  
baskets = [0] * (N + 1)

for _ in range(M):
    i, j, k = map(int, input().split())
    for idx in range(i, j + 1):
        baskets[idx] = k  

print(" ".join(map(str, baskets[1:])))

 5 4
 1 2 3
 3 4 4
 1 4 1
 2 2 2

1 2 1 1 0

In [263]:
N, M = map(int, input().split())  
baskets = [0] * (N + 1)

for _ in range(M):
    i, j, k = map(int, input().split())
    for idx in range(i, j + 1):
        baskets[idx] = k  

print(*baskets[1:])

 5 4
 1 2 3
 3 4 4
 1 4 1
 2 2 2

1 2 1 1 0

In [343]:
N, M = map(int, input().split())
a = []
for q in range(N):
    a.append(q + 1)
for i in range(M):
    c, d = map(int,input().split())
    e = a[c-1]
    a[c-1] = a[d-1]
    a[d-1] = e
print(*a)

 5 4
 1 2
 3 4
 1 4
 2 2

3 1 4 2 5

In [347]:
N, M = map(int, input().split())
a = []
for q in range(N):
    a.append(q+1)
for i in range(M):
    c, d = map(int,input().split())
    e = a[c-1]
    a[c-1] = a[d-1]
    a[d-1] = e
print(*a)

 5 4
 1 2
 3 4
 1 4
 2 2

3 1 4 2 5

In [83]:
b = []
d = []
for i in range(28):
    a = int(input())
    b.append(a)
for e in range(1,31):
    d.append(e)
d = list(set(d) - set(b))
print(min(d))
print(max(d))

 9
 30
 6
 12
 10
 20
 21
 11
 7
 5
 28
 4
 18
 29
 17
 19
 27
 13
 16
 26
 14
 23
 2
 15
 3
 1
 24
 25

8
22

In [155]:
A = []
B = []
for i in range(10):
    c = int(input())
    A.append(c)

for e in range(10):
    d = A[e] % 42
    B.append(d)
F = list(set(B))
print(len(F))

 39
 40
 41
 42
 43
 44
 82
 83
 84
 85

6

In [42]:
N,M = map(int, input().split())
A = []
for _ in range(N):
    A.append(N)
    N = N -1
    A.sort(reverse=False)
for _ in range(M):
    i,j = map(int, input().split())
    A[i-1:j] = A[i-1:j][::-1]
print(*A)

 5 4
 1 2
 3 4
 1 4
 2 2

3 4 1 2 5

In [85]:
a = int(input())
b = list(map(int,input().split()))
c = max(b)
e = 0
for i in range(a):
    d = b[i] / c * 100
    e = e + d
q = e/a
z = round(q,2)
print(z)

 4
 1 100 100 100

75.25

In [37]:
import numpy as np

# 1. 학생들의 시험 점수 분석 (3반,4명의 학생)
scores =np.array([[85,90,75,88], 
                  [92,86,78,95],
                  [89,91,84,82]])
print("1반 전체 점수:",scores[0])
print("1반 전체 인원:",len(scores[0]),'명')
print("1반 전체 합계:",np.sum(scores[0]))
print("1반 전체 합계:",np.mean(scores[0]))

print("각 반의 첫번째 학생:",scores[:,0])
print("각 반의 첫번째 학생 합계:",np.sum(scores[:,0]))
print("각 반의 첫번째 학생 평균:",np.mean(scores[:,0]))

1반 전체 점수: [85 90 75 88]
1반 전체 인원: 4 명
1반 전체 합계: 338
1반 전체 합계: 84.5
각 반의 첫번째 학생: [85 92 89]
각 반의 첫번째 학생 합계: 266
각 반의 첫번째 학생 평균: 88.66666666666667

In [39]:
# 재고관리
import numpy as np
inventory =np.array([[50,30,20,40],   # 서울 지점
                     [45,25,15,35],   # 부산 지점
                     [55,35,25,45]])  # 강릉 지점
low_stock = inventory[inventory<20]
print(low_stock)

[15]

In [51]:
low_stock1 =np.where(inventory < 20)
print(list(zip(low_stock1[0],low_stock1[1])))

[(1, 2)]