In [1]:
scores = [(97, 95, 99),(87, 93, 90),(85, 83, 80)]
print([(v[0]+ v[1]+ v[2],(v[0]+ v[1]+ v[2])/3) for k, v in enumerate(scores)]) 
print([(v[0]+ v[1]+ v[2],(v[0]+ v[1]+ v[2])/3) for v in scores]) 

print({k:(sum(v),sum(v)/len(v)) for k, v in enumerate(scores) if sum(v)/len(v) > 85}) # 사용자별 총점과 평균(딕셔너리)

[(291, 97.0), (270, 90.0), (248, 82.66666666666667)]
[(291, 97.0), (270, 90.0), (248, 82.66666666666667)]
{0: (291, 97.0), 1: (270, 90.0)}

In [2]:
scores = {"lee":(97, 95, 99),"park":(87, 93, 90),'kim':(85, 83, 80)}
print({k:(sum(v),sum(v)/len(v)) for k, v in scores.items()})

{'lee': (291, 97.0), 'park': (270, 90.0), 'kim': (248, 82.66666666666667)}

In [3]:
## count - 값이 등장하는 횟수
numbers = [1, 2, 2, 3, 2, 2, 2]
numbers.count(2)

5

In [4]:
chars = ['a','b','a','c','a']
chars.count('a')

3

In [5]:
grades = [True, False, True, True]
grades.count(True)

3

In [6]:
## sort - 리스트 정렬(오름차순)
numbers = [3, 1, 4, 1, 5]
numbers.sort()
numbers

[1, 1, 3, 4, 5]

In [7]:
numbers.sort(reverse = True)
numbers

[5, 4, 3, 1, 1]

In [8]:
scores = [('Lee',90),('Park',88),('kim', 85)]
scores.sort(key=lambda x:x[1])
scores

[('kim', 85), ('Park', 88), ('Lee', 90)]

In [9]:
## reverse - 역순 나열
numbers = [3, 1, 4, 1, 5]
numbers.reverse()
numbers

[5, 1, 4, 1, 3]

## Data Reading

In [11]:
class ShoppingCart:
    def __init__(self):
        self.items = []

    def add_item(self, item, price, quantitiy=1):
        self.items.append({"item":item,"price":price,"quantitiy":quantitiy})
    def remove_items(self,item):
        self.items = [i for i in self.items if i["itme"] != item]

    def get_total(self):
        return sum(item['price'] * item['quantitiy'] for item in self.items)

cart = ShoppingCart()
cart.add_item("노트북",1200000)
cart.add_item("마우스",30000, 2)
print(f"총 금액: {cart.get_total()}원")

총 금액: 1260000원

In [12]:
grades = [
    {"name":"김철수", "scores": [85,90,92]},
    {"name":"이영희", "scores": [88,95,96]},
    {"name":"박민수", "scores": [75,85,88]}
]
averages =[(student["name"],sum(student["scores"])/len(student["scores"])) for student in grades]
print(averages)

top_student = max(averages, key=lambda x :x[1])
print(f"최고 성적 학생: {top_student[0]}, 평균: {top_student[1]:.2f}")

[('김철수', 89.0), ('이영희', 93.0), ('박민수', 82.66666666666667)]
최고 성적 학생: 이영희, 평균: 93.00

In [13]:
import random

menu_list = [
    {"name": "김치찌개", "category": "한식", "price": 8000},
    {"name": "파스타", "category": "양식", "price": 12000},
    {"name": "초밥", "category": "일식", "price": 15000},
    {"name": "불고기", "category": "한식", "price": 10000},
    {"name": "된장찌개", "category": "한식", "price": 7000},
    {"name": "치킨", "category": "양식", "price": 15000},
    {"name": "햄버거", "category": "양식", "price": 9000},
    {"name": "타코", "category": "양식", "price": 8000},
    {"name": "우동", "category": "일식", "price": 11000},
    {"name": "돈부리", "category": "일식", "price": 12000},
    {"name": "마라탕", "category": "중식", "price": 13000},
    {"name": "짜장밥", "category": "중식", "price": 6000},
    {"name": "볶음밥", "category": "중식", "price": 7000},
]

def recommend_menu(budget, category =None):
    filtered_menu = [menu for menu in menu_list
                     if menu["price"] <= budget and
                     (category is None or menu["category"] == category)]
    return random.choice(filtered_menu) if filtered_menu else None

print(recommend_menu(100000))

{'name': '햄버거', 'category': '양식', 'price': 9000}

In [14]:
import random

menu_list = [
    {"name": "김치찌개", "category": "한식", "price": 8000},
    {"name": "파스타", "category": "양식", "price": 12000},
    {"name": "초밥", "category": "일식", "price": 15000},
    {"name": "불고기", "category": "한식", "price": 10000},
    {"name": "된장찌개", "category": "한식", "price": 7000},
    {"name": "치킨", "category": "양식", "price": 15000},
    {"name": "햄버거", "category": "양식", "price": 9000},
    {"name": "타코", "category": "양식", "price": 8000},
    {"name": "우동", "category": "일식", "price": 11000},
    {"name": "돈부리", "category": "일식", "price": 12000},
    {"name": "마라탕", "category": "중식", "price": 13000},
    {"name": "짜장밥", "category": "중식", "price": 6000},
    {"name": "볶음밥", "category": "중식", "price": 7000},
]

def recommend_menu(budget, category =None):
    filtered_menu = [menu for menu in menu_list
                     if menu["price"] <= budget and
                     (category is None or menu["category"] == category)]

    if filtered_menu:
        # 비중 계산: 가격을 비중으로 사용
        weights =[menu["price"] for menu in filtered_menu]
        chosen_menu = random.choices(filtered_menu, weights=weights, k=3)
        return chosen_menu[0]
    return None

# 예시 출력
print(recommend_menu(10000))

{'name': '된장찌개', 'category': '한식', 'price': 7000}

In [15]:
from datetime import datetime

class Schedule:
    def __init__(self):
        self.tasks = []
        
    def add_task(self, task, deadline):
        self.tasks.append({"task":task, "deadline":deadline})
        self.tasks.sort(key=lambda x: datetime.strptime(x["deadline"], "%Y-%m-%d"))

    def get_upcoming_tasks(self):
        today = datetime.now()
        return [task for task in self.tasks
                if datetime.strptime(task["deadline"],"%Y-%m-%d") >= today]

schedule = Schedule()
schedule.add_task("보고서 제출","2024-12-01")
schedule.add_task("프로잭트 미팅", "2024-11-25")
schedule.get_upcoming_tasks()

[{'task': '프로잭트 미팅', 'deadline': '2024-11-25'},
 {'task': '보고서 제출', 'deadline': '2024-12-01'}]

### 튜플 정리

In [17]:
## count 
numbers =(1, 2, 2, 3, 2, 4)
cnt = numbers.count(2)
cnt

3

In [18]:
words = ('apple','banana','apple','cherry','apple')
apple_cnt =words.count('banana')
apple_cnt

1

In [19]:
## index (값, start, end)
coordinates =(10, 20, 30, 40, 30)
coordinates.index(30)

2

In [20]:
coordinates.index(30,3)

4

In [21]:
names =('kim','Lee','park','kim','choi')
names.index('kim',1)

3

In [22]:
values = (1, 2, 3, 4, 3, 5, 3)
values.index(3, 3, 6)

4

In [23]:
## 언팩킹
point =(3, 4)
x, y =point
print(x, y, sep="\n")

3
4

In [24]:
tp1 =(1,2,3)
a, b, c = tp1
print(a,b,c)

1 2 3

In [25]:
my_tuple = (1, 2, 3, 4, 5)
a, b, *rest = my_tuple
print(a,b,rest,sep='\n')

1
2
[3, 4, 5]

In [26]:
person = ('John',30, 'New York')
name, age, city = person
print(f"이름:{name},나이:{age},도시:{city}")

이름:John,나이:30,도시:New York

In [27]:
person[0]

'John'

In [28]:
# 튜플은 값을 바꿀수 없음
person[0] ="Joseph"

TypeError: 'tuple' object does not support item assignment

In [ ]:
locations = {(0,0) : 'Start',(1,1): 'Middle',(2,2): 'End'}
print(f"시작 지점: {locations[0,0]}")

In [ ]:
class LocationTracker:
    def __init__(self):
        self.locations = []

    def add_position(self,position):
        x, y = position
        self.locations.append((x,y))

    def get_path(self):
        return self.locations

tracker = LocationTracker()
tracker.add_position((37.5665, 126.9780)) # 서울
tracker.add_position((35.6895, 139.6917)) # 도쿄

print(f"이동 경로: {tracker.get_path()}")

In [ ]:
# 국영수
students = [
    ("김철수", 90, 85, 95),
    ("이영희", 88, 92, 96),
    ("박민수", 95, 88, 90)
]
for name, k, e, m in students:
    avg =(k+e+m)/3
    print(f"{name}의 평균점수: {avg}")

In [ ]:
weather_data = [
    ("2024-01-01",5.2, 60, 10),
    ("2024-01-02",4.8, 65, 30),
    ("2024-01-03",3.9, 70, 55)
]
for data, temp, humidity, rain_prob in weather_data:
    print(f"{data}: {temp} C, 습도 {humidity}%,강수확률{rain_prob}%")

In [63]:
def process_order(order):

    menu = {
        "아메리카노" : (4500, "HOT/ICE"),
        "카페라떼" : (5000, "HOT/ICE"),
        "녹차" : (4500, "HOT only"),
    }

    if order in menu:
        price, option = menu[order]
        return f"{order}:{price}원 ({option})"
    else:
        return "메뉴에 없는 상품입니다."
    
        
    
print(process_order("아메리카노"))
print(process_order("바닐라라떼"))

아메리카노:4500원 (HOT/ICE)
메뉴에 없는 상품입니다.

## 딕셔너리 정리

In [84]:
user_info = {'name':'kim', 'age': 25}
#age = user_info['age']
#email = user_info["emali"]

age = user_info.get('age')
email = user_info.get('email','없어요')
print(age, email)

25 없어요

In [88]:
score = {'math':90, 'english':85}
print(score.get('science',0))

0

In [92]:
## update 메소드
profile = {'name':'Lee','age':30}
#profile['age'] = 31
#profile
new_info ={'age': 31, 'job':'developer'}
profile.update(new_info)
profile

{'name': 'Lee', 'age': 31, 'job': 'developer'}

In [94]:
## pop
cart = {'item1': 1000, 'item2' :2000}
price = cart.pop('item1')
print(cart,price,sep='\n')

{'item2': 2000}
1000