In [198]:
# w를 사용하면 파일을새로만들고 사용하기
f = open("새 파일.txt", 'w')
f.close()

In [19]:
f = open("C:/xampp/새 파일.txt", 'w')
f.close()

In [178]:
f = open("새 파일.txt", 'w', encoding='utf-8')
for i in range(1, 11):
    data = f"{i}번째 줄입니다.\n"
    f.write(data)
f.close()

In [182]:
# r을 사용하면 일기기능
f = open("새 파일.txt",'r',encoding='UTF8')
lines = f.readline()
print(lines)
f.close()

1번째 줄입니다.

In [189]:
f = open("새 파일.txt",'r',encoding='UTF8')
data = f.read()
print(data)
f.close()
f = open("새 파일2.txt", 'w')
f.write(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [207]:
# a를 사용하면 뒤에 붙여서 나옴 (a에서도 파일을 만들 수 있음)
f = open("새 파일3.txt", 'a', encoding='utf-8')
for i in range(21, 31):
    data = f"{i}번째 줄입니다.^^\n"
    f.write(data)
f.close()

In [215]:
# 객체로 파일 읽기
f = open("새 파일.txt",'r',encoding='UTF8')
for line in f:
    print(line)
f.close()

21번째 줄입니다.^^

22번째 줄입니다.^^

23번째 줄입니다.^^

24번째 줄입니다.^^

25번째 줄입니다.^^

26번째 줄입니다.^^

27번째 줄입니다.^^

28번째 줄입니다.^^

29번째 줄입니다.^^

30번째 줄입니다.^^

In [213]:
with open("새 파일.txt",'r',encoding='utf-8') as f:
    data =f.read()
    print(data)

21번째 줄입니다.^^
22번째 줄입니다.^^
23번째 줄입니다.^^
24번째 줄입니다.^^
25번째 줄입니다.^^
26번째 줄입니다.^^
27번째 줄입니다.^^
28번째 줄입니다.^^
29번째 줄입니다.^^
30번째 줄입니다.^^

In [293]:
lines = ['Hello, World!','Hello again!']

with open("새파일5.txt",'w',encoding='utf-8')as f:
        f.writelines(lines)

In [239]:
!type 새파일5.txt

Hello, World!Hello again!

In [258]:
with open("매수종목1.txt",'w',encoding='utf-8')as f:
    f.write("005930\n")
    f.write("005380\n")
    f.write("035420\n")

In [264]:
with open("매수종목2.txt",'w',encoding='utf-8')as f:
    f.write("005930 삼성전자\n")
    f.write("005380 현대차\n")
    f.write("035420 naver\n")

In [313]:
with open("매수종목1.txt",'r',encoding='utf-8')as f:
    lines = f.readlines()
    codes=[]
    for line in lines:
        c = line.strip()
        codes.append(c)
print(codes)
print(lines)

['005930', '005380', '035420']
['005930\n', '005380\n', '035420\n']

In [315]:
# 매수종목2.txt를 읽어서 딕셔너리로 만들기(key: 종목번호, value: 종목명)

In [426]:
with open ("매수종목2.txt",'r',encoding='utf-8')as f:
    lines =f.readlines()
    data = {}
    for line in lines:
        a = line.strip()
        k, v = line.split()
        data[k] = v
print(data)

{'005930': '삼성전자', '005380': '현대차', '035420': 'naver'}

In [428]:
with open ("매수종목2.txt",'r',encoding='utf-8')as f:
    lines =f.readlines()
    data = {}
    for line in lines:
        line = line.strip()
        t = line.split()
        data[t[0]] = t[1]
print(data)

{'005930': '삼성전자', '005380': '현대차', '035420': 'naver'}

In [432]:
with open ("매수종목2.txt",'r',encoding='utf-8')as f:
    data = {t.split()[0]:t.split()[1] for t in f.readlines()}
print(data)

{'005930': '삼성전자', '005380': '현대차', '035420': 'naver'}

### csv 파일

In [487]:
# 한 줄씩 입력(1차원 리스트)
import csv
with open("매수종목.csv", mode="w",encoding="utf-8",newline='') as f:
    wr = csv.writer(f)
    wr.writerow(["종목명","종목코드","PER"])
    wr.writerow(["삼성,전자","005930", 15.59])
    wr.writerow(["NAVER","035420", 55.82])

In [452]:
# 여러줄 입력 (2차원 리스트)
import csv
data = [
    ['이름','나이','도시'],
    ['김철수','25','서울'],
    ['이영희','28','부산']
]
with open('data.csv', 'w', newline="",encoding="utf-8") as f:
    wr = csv.writer(f)
    wr.writerows(data)

In [459]:
import csv

'''f = open("매수종목.csv", mode="r",encoding="utf-8")
reader = csv.reader(f)
for row in reader:
    print(row)
f.close()'''

with open("매수종목.csv", mode="r",encoding="utf-8") as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

['종목명', '종목코드', 'PER']
['삼성전자', '005930', '15.59']
['NAVER', '035420', '55.82']

In [483]:
import csv

with open("data.csv",mode="r",encoding="utf-8") as f:
    a = []
    reader = csv.reader(f)
    for row in reader:
       #print(row)
       a.append(row)
print(a)

[['이름', '나이', '도시'], ['김철수', '25', '서울'], ['이영희', '28', '부산']]

In [485]:
import csv

with open("data.csv",mode="r",encoding="utf-8") as f:
    data = [row for row in csv.reader(f)]
print(data)

[['이름', '나이', '도시'], ['김철수', '25', '서울'], ['이영희', '28', '부산']]

In [507]:
# write_csv(data, Filename)
# result = read_csv(filename) # 최종: 2차원 배열[리스트]

data = [
    ['이름','나이','키',"몸무게"],
    ['김철수','25','190',"90"],
    ['이영철','28','180',"80"]
]
filename ="data2.csv"

def write_csv(data, filename):
    with open(filename,"w",encoding="utf-8", newline='') as f:
        wr = csv.writer(f)
        wr.writerows(data)
    

def read_csv(filename):
    with open("data2.csv",mode="r",encoding="utf-8") as f:
        return [row for row in csv.reader(f)]

### 함수 호출
write_csv(data,filename)
result = read_csv(filename)
print(result)

[['이름', '나이', '키', '몸무게'], ['김철수', '25', '190', '90'], ['이영철', '28', '180', '80']]

In [510]:
# write_csv(data, Filename)
# result = read_csv(filename) # 최종: 2차원 배열[리스트]

data = [
    ['이름','나이','키',"몸무게"],
    ['김철수','25','190',"90"],
    ['이영철','28','180',"80"]
]
filename ="data2.csv"

def write_csv(data, filename):
    with open(filename,"w",encoding="utf-8", newline='') as f:
        wr = csv.writer(f)
        wr.writerows(data)
    

def read_csv(filename):
    with open("data2.csv",mode="r",encoding="utf-8") as f:
        data = []
        reader = csv.reader(f)
        for row in reader:
            data.append(row)
    return data

write_csv(data,filename)
result = read_csv(filename)
print(result)

[['이름', '나이', '키', '몸무게'], ['김철수', '25', '190', '90'], ['이영철', '28', '180', '80']]

In [538]:
grades_data = [
    ['김철수',"수학","90"],
    ['이영희',"영어","85"],
    ["박민수","과학","88"]
]

filename = "grades.csv"

def writer_grades(data, filename):
    with open(filename,"w",encoding="utf-8", newline='') as f:
        wr = csv.writer(f)
        wr.writerow(["이름","과목","점수"])
        wr.writerows(data)
        
def read_csv(filename):
    with open(filename, "r",encoding="utf-8") as f:
       reader = csv.reader(f)
       return [row for row in reader]

writer_grades(grades_data, filename)
result = read_csv(filename)
print(result)

[['이름', '과목', '점수'], ['김철수', '수학', '90'], ['이영희', '영어', '85'], ['박민수', '과학', '88']]

In [550]:
# 직원 정보 관리
employees_data = [
    ['001',"김영희","인사부"],
    ['002',"이철수","개발부"],
    ['003',"박지민","마케팅부"]
]

filename = 'employees.csv'
def writer_employees(data,filename):
       with open(filename,"w",encoding="utf-8", newline='') as f:
           wr = csv.writer(f)
           wr.writerow(["ID","이름","부서"])
           wr.writerows(data)

def read_employees(filename):
    with open(filename, "r",encoding="utf-8") as f:
        reader = csv.reader(f)
        return [row for row in reader]

writer_employees(employees_data, filename)
result = read_employees(filename)
print(result)

[['ID', '이름', '부서'], ['001', '김영희', '인사부'], ['002', '이철수', '개발부'], ['003', '박지민', '마케팅부']]

In [554]:
# 영화 정보 관리

movies_data = [
    ['인셉션',"크리스토퍼 놀란","2010"],
    ['타이타닉',"제임스 카메론","1997"],
    ['겨울왕국',"크리스 벅","2013"]
]

filename = 'movies.csv'

def writer_movies(data,filename):
    with open(filename,"w",encoding="utf-8", newline='') as f:
        wr = csv.writer(f)
        wr.writerow(["제목","감독","개봉 연도"])
        wr.writerows(data)

def read_movies(filename):
      with open(filename, "r",encoding="utf-8") as f:
          reader = csv.reader(f)
          return [row for row in reader]

writer_movies(employees_data, filename)
result = read_movies(filename)
print(result)

[['제목', '감독', '개봉 연도'], ['001', '김영희', '인사부'], ['002', '이철수', '개발부'], ['003', '박지민', '마케팅부']]

In [577]:
# 영화 정보 관리
import minfo as mf

books_data = [
    ['파이썬 완벽 가이드',"존 스미스","2020"],
    ['모두의 데이터 분석',"김예린","2021"],
    ['안전한 웹 개발',"이민호","2022"]
]

filename = "books.csv"
mf.write_books(books_data,filename)
result = mf.read_books(filename)
print(result)

NameError: name 'csv' is not defined