# 연산자

'''
== : 같다
!= : 같지 않다
> : 크다
< : 작다

+= :
-= :
*= :
/= :

* : 곱하기
/ : 나누기
// : 몫
% : 나머지
...

In [3]:
a = 10
b = 3
print(a / b)
print(a // b)
print(a % b)

3.3333333333333335
3
1

In [4]:
c = 5
c += 2
print(c)
c *= 2
print(c)
c /= 7
print(c)

7
14
2.0

In [5]:
c = 5
d = c ** 2
print(d)

25

### 문자열포멧팅

In [7]:
a = " I eat %d apples." %3
print(a)

 I eat 3 apples.

In [8]:
a = " I eat %s apples." %"five"
print(a)

 I eat five apples.

In [9]:
number = 3 
"I eat %d apples." % number
print(number)

3

In [10]:
number = 10 
day ="three"
a = "I ate %d%% apples. so I was sick for %s days." % (number, day)
print(a)

I ate 10% apples. so I was sick for three days.

In [11]:
str1 = "|%10s|" % "hi"
print(str1)
str2 = "|%-10s|" % "hi"
print(str2)

|        hi|
|hi        |

In [12]:
a = "|%.4f|" % 3.42134234
b = "|%10.1f|" %3.41541346
print(a,b)

|3.4213| |       3.4|

### format 함수를 활용한 포맷

In [20]:
이름 = "김철수"
나이 = 25
print(str(나이))

print(이름 + "님은" + str(나이) + "살입니다.")
print(f"{이름}님은{나이}살입니다.")
print("{}님은{}살입니다.".format(이름,나이))

25
김철수님은25살입니다.
김철수님은25살입니다.
김철수님은25살입니다.

In [15]:
a= "I eat {} apples".format(3)
print(a)

I eat 3 apples

In [16]:
number = 10 
day ="three"
a = "I ate {} apples. so I was sick for {} days.".format(number, day)
#a = "I ate {1} apples. so I was sick for {0} days.".format(number, day)
print(a)

I ate 10 apples. so I was sick for three days.

In [17]:
b = "I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)
print(b)

I ate 10 apples. so I was sick for 3 days.

In [27]:
c ="I ate {} apples. so I was sick for {} days.".format(10, "3")
print(c)

I ate 10 apples. so I was sick for 3 days.

In [19]:
a = "|{:<10}|".format("hi")
b = "|{:>10}|".format("hi")
c = "|{:^10}|".format("hi")

d = "|{:#^10}|".format("hi")
e = "|{:@>10}|".format("hi")
f = "|{:!<10}|".format("hi")
print(a,b,c,d,e,f,sep="\n")

|hi        |
|        hi|
|    hi    |
|####hi####|
|@@@@@@@@hi|
|hi!!!!!!!!|

In [20]:
name = input("이름을 입력하세요:")
age = int(input("나이를 입력하세요:"))
output ="안녕하세요,{}님! 당신의 나이는{}세입니다.".format(name, age)
print(output)

이름을 입력하세요: 12
나이를 입력하세요: 12

안녕하세요,12님! 당신의 나이는12세입니다.

In [21]:
y = 3.42132455
a = "{0:0.4f}".format(y)
print(a)

3.4213

In [22]:
product_name = input("상품명을 입력하세요:")
price = float(input("가격을 입력하세요:"))
output = "상품명: {}, 가격: {:.2f}원".format(product_name,price)
print(output)

상품명을 입력하세요: 12
가격을 입력하세요: 12

상품명: 12, 가격: 12.00원

In [23]:
number = 5
output = "숫자 : {:04d}".format(number)
print(output)

숫자 : 0005

In [24]:
number = 123456.789
output = "가격: {:,.2f}원".format (number)
print(output)

가격: 123,456.79원

In [25]:
a = "{2} {3}".format(1,2,3,4,5)
print(a)

3 4

In [26]:
a = "{0} {1} {1}".format(1,2)
print(a)

1 2 2

### f 문자열(스트링) 포멧팅

In [28]:
이름 = "김철수"
나이 = 25
print(f"나의 이름은 {이름}입니다.나이는{나이}살입니다.")

나의 이름은 김철수입니다.나이는25살입니다.

In [29]:
age = 30
a = f"나는 내년이면 {age + 1 }살이 된다."
print(a)

나는 내년이면 31살이 된다.

In [30]:
d = {"name":"홍길동", "age":30}
print(f"나의 이름은 {d['name']}입니다.나이는{d['age']}살입니다.")

나의 이름은 홍길동입니다.나이는30살입니다.

In [31]:
number = 123456789
output = f"가격: {number:,}원"
print(output)

가격: 123,456,789원

In [32]:
x = 10
y = 5

print(f"x + y의 값은{x + y}입니다")

x + y의 값은15입니다

In [33]:
price = 15000
discount_rate = 0.2
final_price = price *(1 - discount_rate)

print(f"원래가격{price}원, 할인율{discount_rate * 100}%, 최종가격:{final_price} 원")

원래가격15000원, 할인율20.0%, 최종가격:12000.0 원

In [34]:
price = 50000
tax_rate = 0.1
final_price = price *(tax_rate + 1)
tax = price * tax_rate
print(f"상품가격{price}원, 세금:{tax}원, 최종가격:{final_price:.1f}원입니다")

상품가격50000원, 세금:5000.0원, 최종가격:55000.0원입니다

### 문자열 함수

In [36]:
a = "hobby"
print(len(a))
print(a.count("b")) # 문자 개수

print(a.find("b")) # 위치 
print(a.index("b")) #위치

print(a.find("i")) # 위치 
#print(a.index("i")) #위치

5
2
2
2
-1

In [37]:
a = "1,2,3,4,5"
print(a.split(","))

['1', '2', '3', '4', '5']

In [38]:
a = ",".join('abcd')
print(a)

a,b,c,d

In [39]:
a = "hi"
print(f"{a}")
print(f"|{a.strip()}|")

hi
|hi|

In [40]:
a = "hi"
a.upper()

'HI'

In [41]:
a = "HI"
a.lower()

'hi'

In [61]:
kor_data = "10011110101010111011"
tot = len(kor_data)
a = (kor_data.count("1"))
b = (kor_data.count("0"))
print(f"맞은 문제는{a}개 이며 틀린문제는{b}개입니다.점수는{a/tot *100:.2f}입니다.")

맞은 문제는13개 이며 틀린문제는7개입니다.점수는65.00입니다.

In [54]:
number = input("전화번호?")
r = number[0:-9]
print(r)
if r=="02":
    print("서울입니다")
elif r=="031":
    print("경기도입니다")

전화번호? 415498878778465611323456

415498878778465

In [121]:
date_input = input("날짜를 입력하세요 (YYYY-MM-DD):").strip()
year = date_input[:4]
print(f"올해는{year}년 입니다.")

날짜를 입력하세요 (YYYY-MM-DD):     20241111

올해는2024년 입니다.